:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(150px);
}

.logo {
  width: 165px;
  height: 30px;
}

.navbarElement {
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.navButton {
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  transition: 0.3s ease, color 0.3s ease;
}

.navButton:hover {
  background: #fff;
  color: #000;
  scale: 1.1;
}

/* banner section */

.topHeading {
  background-color: #92f4ae;
  border-radius: 50px;
  padding: 8px 16px;
  margin-top: 48px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  width: fit-content;
  text-align: center;
}
.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 68px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(150px);
}

.headingContainer > * {
  margin: 10px 0;
}

.heading {
  font-size: 48px;
  color: #000;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.96px;
  text-align: center;
}

.headingText {
  color: #4c4c4c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.portfolioButton {
  border-radius: 50px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 28px;
  position: relative;
  transition: 0.3s ease, color 0.3s ease;
  display: flex;
  padding: 14px 28px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.portfolioButton:hover {
  background: #fff;
  color: #000;
  scale: 1.1;
}

.projectButton {
  border-radius: 50px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 28px;
  position: relative;
  transition: 0.3s ease, color 0.3s ease;
  display: flex;
  padding: 14px 28px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.projectButton:hover {
  background: #000;
  color: #fff;
  scale: 1.1;
}
.projectButton:hover svg path {
  fill: #fff;
}

.headingImage {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 30px;
}

/* counter section */

.counterSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.counterElement {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: start;
  flex-direction: column;
  text-align: center;
}

.counterElement > * {
  margin: 1px 0;
}
.counterElement > h1 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%;
  display: flex;
}
.counterElement > p {
  align-self: stretch;
  color: #595959;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
}

.green {
  color: #00c663;
  gap: 0px;
}

/* owner text section */

.ownerSection {
  text-align: center;
}

.ownerSection > h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
}
.ownerSection > h1 > span {
  color: #737373;
  font-weight: 300;
}
.ownerSection > p > svg {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ownerSection > p {
  text-align: center;
}
.ownerDetails {
  display: flex;
  flex-direction: column;
}

.ownerDetails > * {
  margin: 1px;
}

.ownerName {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%;
}
.ownerTitle {
  color: #181732;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 136%;
  margin-bottom: 130px;
}

.ownerImage {
  display: flex;
  gap: 60px;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

/* service section */
.serviceSection {
  background-color: #0c0a25;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  padding: 125px 370px;
  gap: 32px;
}

.cardOne {
  display: flex;
  flex-direction: column;
}

.cardOne > div > h1 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.cardOne > div > p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
}
.cardOne > div > * {
  margin: 0px;
}
.cardOne > div > button {
  border-radius: 50px;
  background-color: #41ff9e;
  color: #000;
  padding: 14px 30px;
  margin-top: 30px;
}

.rating {
  padding-top: 120px;
}

.ratingStar {
  display: flex;
  gap: 2px;
  align-items: center;
}

.ratingStar > p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-right: 5px;
}
.ratingStar > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingStar > div > svg {
  background-color: #219653;
  padding: 3px;
}

.cardTwo {
  border-radius: 20px;
  background-color: #c5e7ff;
  padding: 32px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cardTwo > div > h1 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.cardTwo > div > p {
  color: #606060;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.cardThree {
  border-radius: 20px;
  background-color: #d3fee8;
  padding: 32px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cardThree > div > h1 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.cardThree > div > p {
  color: #606060;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.caseStudies > h1 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin-top: 128px;
  margin-bottom: 0px;
}
.caseStudies > p {
  color: #4c4c4c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

.caseRow {
  display: flex;
  gap: 100px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.caseSection > h2 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.caseSection > div > button {
  border-radius: 50px;
  background: #c7ffd0;
  padding: 8px 25px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin-right: 14px;
  margin-top: 20px;
}

.sliderHolder {
  width: 100%;
  height: 40px;
  padding-bottom: 90px;
  background: #0C0A25;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; 
  margin-bottom: 120px;
}

.slider-inside {
  display: flex;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%; 
  position: absolute; 
  white-space: nowrap; 
  animation: slide 20s linear infinite; 
}

.slider-inside > h2 {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 48px;
  margin-right: 48px;
}

.greenBall {
  background-color: #41FF9E;
  width: 10px;
  height: 10px;
  border-radius: 999px;
}

@keyframes slide {
  0% {
    transform: translateX(-150%); 
  }
  100% {
    transform: translateX(100%); 
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
