:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

/* navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(150px);
}

.logo {
  width: 165px;
  height: 30px;
}

.navbarElement {
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.navButton {
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  transition: 0.3s ease, color 0.3s ease;
}

.navButton:hover {
  background: #fff;
  color: #000;
  scale: 1.1;
}

/* banner section */

.topHeading {
  background-color: #92f4ae;
  border-radius: 50px;
  padding: 8px 16px;
  margin-top: 48px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  width: fit-content;
  text-align: center;
}
.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 68px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(150px);
}

.headingContainer > * {
  margin: 10px 0;
}

.heading {
  font-size: 48px;
  color: #000;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.96px;
  text-align: center;
}

.headingText {
  color: #4c4c4c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.portfolioButton {
  border-radius: 50px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 28px;
  position: relative;
  transition: 0.3s ease, color 0.3s ease;
  display: flex;
  padding: 14px 28px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.portfolioButton:hover {
  background: #fff;
  color: #000;
  scale: 1.1;
}

.projectButton {
  border-radius: 50px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 28px;
  position: relative;
  transition: 0.3s ease, color 0.3s ease;
  display: flex;
  padding: 14px 28px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.projectButton:hover {
  background: #000;
  color: #fff;
  scale: 1.1;
}
.projectButton:hover svg path {
  fill: #fff; 
}

.headingImage {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 30px;
}

/* counter section */

.counterSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.counterElement {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content:start;
  flex-direction: column;
  text-align: center;
}

.counterElement > * {
  margin: 1px 0;
}
.counterElement > h1 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%;
  display: flex;
}
.counterElement > p {
align-self: stretch;
color: #595959;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 136%;
}

.green {
  color: #00C663;
  gap: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
